@import 'fonts.css';

/*root start  */
:root {
    --mr400: 'MR';
    --mb700: 'MB';
    --ps400: 'ProductSans';
    --white: #ffffff;
    --dark: #1e2020;
    --grey: #282929;
    --blue: rgba(48, 154, 216, 0.729);
    --green: rgb(43, 170, 43);
    --red: red;
    --linear: linear-gradient(133deg, var(--blue), var(--red) , var(--white), var(--green));

}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(133deg, var(--blue) ,white);
    border-radius: 30px;
}

.WMC {
    width: max-content;
}

a {

    text-decoration: none;

}

ul {
    list-style: none;

}

body {
    font-family: var(--mr400);
    background: var(--grey);
}

p,
h1 {
    margin: 0;

}

.navbar {
    padding: 0;
}

.logo {
    font-size: 26px;
    font-family: var(--ps400);
    color: var(--white);
    border: 1px solid transparent;
    border-image: 1 var(--linear);
    line-height: 20px;
    padding: 6px 18px;
    text-transform: uppercase;

}

.logo span {
    color: var(--yellow);
}

.logo:hover {
    color: var(--white);
}

/*  root end*/
/* header__start */
.header__nav {
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(5px);
    padding: 23px 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    position: fixed;
}

.header__nav-link {
    color: var(--white);
    font-size: 20px;
    font-family: var(--ps400);
    text-transform: uppercase;
    margin-left: 55px;
}

.header__nav-link:hover {
    transition: 200ms;
    color: var(--yellow);
}

.header__btn {
    color: var(--white);
    font-size: 30px;
}

.navbar-toggler:focus {
    box-shadow: none;
}


/* header__end */
/* media start */

@media(max-width:992px) {
    .WMC {
        width: 100%;
    }

    .header__nav-link {
        margin-left: 0;
        margin-top: 10px;
        display: block;
    }

    /* .main__slider-info {
        margin-top: 25px;
    } */

    /* .main__slider-image {
        height: inherit;
    } */

    /* .main__tabs-info {
        margin-top: 20px;
    } */
}

.header__content {
    background: url(../images/header_back.jpg) no-repeat center /cover;
}

.header__content-title {
    text-transform: uppercase;
    color: var(--white);
    font-family: var(--ps400);
    font-size: 60px;
    margin-bottom: 50px;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.header__content-text {
    font-size: 22px;
    font-family: var(--ps400);
    color: var(--white);
    line-height: 27px;
    text-align: justify;
}

@media(max-width:767px) {
    .header__content-title {
        font-size: 40px;
        text-align: center;
    }

    .header__content {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media(max-width:400px) {
    .main__slider-span{
        font-size: 20px;
    }
}


/* main start */

.main__title-heading {
    font-size: 28px;
    text-transform: uppercase;
    font-family: var(--ps400);
    color: var(--white);
    text-align: center;
    line-height: 22px;
    margin-top: 80px;
    margin-bottom: 30px;

}

.main__title-text {
    font-family: var(--ps400);
    font-size: 18px;
    color: var(--white);
    text-align: justify;
    line-height: 24px;
    margin-bottom: 57px;

}


.main__title-heading:before,
.main__title-heading::after {
    content: '';
    display: block;
    width: 52px;
    height: 2px;
    background: var(--white);
    margin: 0 0 8px auto;
}

.main__title-heading::after {
    margin: 8px 0 0 0;
}

.main__slider {
    background: var(--dark);
    padding: 15px 0;
}

.main__slider-photo {
    border-radius: 6px;
    object-fit: cover;
}

.main__slider-title {
    font-size: 24px;
    font-family: var(--mb700);
    color: var(--white);
    text-transform: uppercase;
    line-height: 17px;
    margin-bottom: 20px;

}

.main__slider-span {
    color: azure;
    font-style: italic;
}

.main__slider-text {
    font-family: var(--mr400);
    line-height: 24px;
    text-align: justify;
    font-size: 18px;
    color: var(--white);
    max-height: 240px;
    overflow: auto;
}

.main__slider-info {
    padding: 15px;
}

.main__slider-image {
    padding: 0 15px 0 15px;
    height: 280px;
}

.main__slider-angle {
    font-size: 60px;
    color: var(--white);
}

.main__slider-angle::before {
    color: var(--yellow-dark);
}

.main__tabs-link {
    border: none;
    background: var(--white);
    color: black;
    line-height: 12px;
    font-size: 16px;
    font-family: var(--mr400);
    text-transform: uppercase;
    padding: 13px 29px;
    border-radius: 19px;
    margin-bottom: 20px;
    transition: background 300ms, color 300ms;
}

.main__tabs-link:focus {
    outline: none;
}

.main__tabs-link.active {
    background-color: black;
    color: white;

}

.main__tabs-link:not(.active):hover {
    background: linear-gradient(60deg, var(--yellow), red);
    color: var(--white);

}

.main__tabs-img {
    border-radius: 4px;
    object-fit: cover;
    height: 380px;
}

.main__tabs-info {
    background: var(--dark);
    min-height: 100%;
    border-radius: 4px;
    padding: 20px;

}

.main__tabs-title {
    color: var(--green);
    font-size: 24px;
    font-family: var(--ps400);
    line-height: 18px;
    margin-bottom: 14px;
    text-align: center;
}

.main__tabs-text {
    color: var(--white);
    font-family: var(--mr400);
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
    margin-bottom: 14px;
}

.main__tabs-btn {
    max-width: 170px;
    width: 100%;
    font-family: var(--mb700);
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 22px;
    transition: background 300ms, color 300ms;
    background: var(--white);
    color: black;
   
}

.main__tabs-btn:hover {
    color: var(--white);
    background: transparent;
}

.main__accordion-button {
    display: flex;
    text-align: left;
    padding: 17px 0 17px 15px;
    border: none;
    align-items: center;
    background-color: var(--dark);
    color: var(--white);
    width: 100%;

}

.main__accordion-button:focus {
    outline: none;
}

.main__accordion-icon {
    font-size: 28px;
    margin-right: 10px;
}

.main__accordion-span {
    font-size: 20px;
    font-family: var(--mb700);
    line-height: 15px;
    text-transform: uppercase;
}

.main__accordion-text {
    color: var(--white);
    font-size: 18px;
    background: var(--dark);
    line-height: 24px;
    padding: 20px 15px;
    border: 1px solid var(--yellow-dark);
    border-top: none;
    max-height: 200px;
    overflow: auto;
}

.main__accordion-button:not(.collapsed) {
    background: var(--yellow-dark);
    color: var(--white);

}

.main__accordion-item {
    margin-bottom: 15px;
}

.main__accordion-item:last-of-type {
    margin-bottom: 30px;
}

/* Footer start */
.footer {
    background: var(--dark);
    padding-top: 40px;
}

.footer__social {
    margin-bottom: 0;
    padding: 0;
    margin-top: 30px;
    font-size: 35px;
}

.footer__social-link {
    color: var(--white);
    font-size: 30px;

}

.footer_li a{
    margin: 0 50px;
}

.footer__social-link:hover {
    color: var(--yellow-dark);
}
.footer__social-link i:hover{
    transform:  scale(1.4) rotate(360deg);
    
}
.footer__social-link i{
    transition: 300ms;
}

.bold__txt{
    font-family: var(--mb700);
    color: var(--red);
}
.blue__txt{
    color: var(--blue);
    font-family: var(--mb700);
}
.green__txt{
    color: var(--green);
    font-family: var(--mb700);
}




/* Footer end */